<% content_for :title, "Editing movie" %>

<h1>Editing movie</h1>

<%= render "form", movie: @movie %>

<br>

<div>
  <%= link_to "View Movie Details", @movie %> |
  <%= link_to "Back to Movies List", movies_path %>
</div>
